body {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.login-form{


    button{
        width: 100% !important;
        margin-top: 20px;
        padding: 15px;
    }

    input{
        margin-top: 20px;
        width: inherit;
    };
}

.files{

    h3{
        margin: 5px;
    }

    p{
        margin: 3px;
    }

    .excalidraw-button{
        padding: 0 30px;
        background-color: #db70ec;
        margin: auto;
    }

    .file{
        min-height: 76px;
        display: block;
        border-radius: 10px;
        border: 1px solid rgb(220,220,220);
        padding: 3px;
        margin-bottom: 10px;

        .actions{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .save{
                background-color: forestgreen;
                &:hover{
                    color: black;
                    background-color: #00bb00;
                }
            }
            .delete{
                color: white;
                background-color: darkred;

                &:hover{
                    color: black;
                    background-color: red;
                }
            }
            .load{
                background-color: #0d5aa7;
            }
        }

        strong{
            padding-left: 10px;
        }
        button{
            float: right;
            padding: 0 30px;
            background-color: #db70ec;
            margin: 0;
        }
    }
}

